<rss version="2.0">
    <channel>
        <title>{{ title }}</title>
        <link>{{ url }}</link>
        <description>{{ description }}</description>
        {% for item in items %}
        <item>
            {% if item.title %}<title>{{ item.title }}</title>{% endif %}
            {% if item.link %}<link>{{ item.link }}</link>{% endif %}
            {% if item.published %}<pubDate>{{ item.published }}</pubDate>{% endif %}
            {% if item.author %}<author>{{ item.author }}</author>{% endif %}
            {% if item.nlp_summary or item.summary or item.image %}<description>
                <![CDATA[{% if item.nlp_summary %}<p>{{ item.nlp_summary }}</p>{% endif %}{{ item.summary|safe }}{% if item.image %}<img src="{{ item.image }}" />{% endif %}]]>
            </description>{% endif %}
        </item>
        {% endfor %}
    </channel>
</rss>